<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <div class="main-content">
        <p>This site uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="img/me.jpg">
        <div>
            <a href="https://www.linkedin.com/in/abdelaziz-elemary/">linkedin</a>
            <a href="https://github.com/abdelazizElemary">github</a>
        </div>
    </div>

    {{>footer}}
</body>

</html>