<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.10.3/themes/flick/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

</head>

<body>
    {{>header}}

    <div class="main-content">
        <h1 style="font-size: 30px;">Find out the forecast in your country</h1>

        <form action="" method="post" name="form_citydetails" id="form_citydetails" enctype="multipart/form-data"
            onsubmit="return false;">
            <input class="ff_elem" type="text" name="ff_nm_from[]" value="" id="f_elem_city" placeholder="Location" />
            <button>Search</button>
        </form>

        <p id="error"></p>
        <p id="summary"></p>
        <p id="temperature"></p>
        <p id="lowhigh"></p>
        <p id="rain"></p>

    </div>

    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>