<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div style="top: 10px;" class="col-md-8">
                <p style="text-align: center; font-size: large;" class="colophon">Created by {{name}}</p>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <div class="social-links">
                    <a href="https://www.facebook.com/Abdelaziz.elemary"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/abdelaziz-elemary/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://github.com/abdelazizElemary"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>

    </div>
</footer>